PORT=3002
PAYMENT_MODE=mock
STELLAR_NETWORK=testnet
STELLAR_RECIPIENT=G_REPLACE_WITH_YOUR_STELLAR_PUBLIC_KEY

NEXT_PUBLIC_DEMO_API_URL=http://localhost:3002
NEXT_PUBLIC_PAYMENT_RECIPIENT=GDPAPDZWAKBXUPCNMI4YHAZ7DS7UOUTPGXAFDSWZG4URRMWHFSQTDQBM
NEXT_PUBLIC_PAYMENT_AMOUNT=0.01